.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.w-400{
  width: 400px;
}

.activate-message, .activate-error{
  text-align: center;
}

.activate-error{
  color: red;
}